@use "abstracts" as *;

:host {
  background-color: $primary;
  padding: 2rem 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @include adaptiveHorizontalPadding;
  @include tablet {
    gap: 2rem;
  }
}
