@use "abstracts" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 1.2rem;
  padding: 0 1.5rem;
  .company {
    font-size: 1.2rem;
  }
  .compensation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .location {
    font-size: 1.2rem;
  }
}
