<app-recent-submissions></app-recent-submissions>
<!-- location -->
<app-select-input
  [options]="locations"
  prefixIcon="location"
  placeholder="Search for location"
  [onChange]="handleLocationChange"
  [value]="currentLocation"
></app-select-input>
<!-- card that shows average of salaries low/med/high and add your salary button-->
<app-salary-card
  [ranges]="ranges"
  [title]="
    (currentTrack || 'All Titles') +
    ' Salary in ' +
    (currentLocation || 'All Locations')
  "
></app-salary-card>

<app-submissions-table
  [limit]="pageSize"
  [totalPages]="totalPages"
  [page]="page"
  [submissions]="offers"
  [onPageChange]="onPageChange"
></app-submissions-table>
