.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid rgba(black, 0.2);
  border-top: 1px solid transparent;
  cursor: pointer;
  padding: 0 2rem;
}

.mat-mdc-header-cell {
  border-bottom: 1px solid rgba(black, 0.2);
}

.row {
  padding: 1rem 2rem;
  display: block;
  border-bottom: 1px solid rgba(black, 0.2);
}
.details {
}
